<div class="card text-center">
  <div class="card-header">
    Fat2Fit
  </div>

  <h5>Please fill in all the information below.</h5>

  <form>
    <div class="form-group row">
      <label for="inputName" class="col-sm-2 col-form-label">Name :</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="inputName" placeholder="Name">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputAge" class="col-sm-2 col-form-label">Age :</label>
      <div class="col-sm-9">
        <input type="number" class="form-control" id="inputAge" placeholder="Age">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputWeight" class="col-sm-2 col-form-label">Weight :</label>
      <div class="col-sm-9">
        <input type="number" class="form-control" id="inputWeight" placeholder="Weight">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputHeight" class="col-sm-2 col-form-label">Height :</label>
      <div class="col-sm-9">
        <input type="number" class="form-control" id="inputHeight" placeholder="Height">
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>

  </form>
</div>