
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   
      
  </head>
  
  <div class="card text-center">
    <div class="card-header">
      FAT2FIT
    </div>
  
  <Body>
    
  
  <div>Please Fill in all the information below</div>
  
  
    <form>
      <div class="form-group row">
        <label for="inputName" class="col-sm-2 col-form-label">Name :</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputName" placeholder="Name">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputCalory" class="col-sm-2 col-form-label">Calory Intake :</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" id="inputCalory" placeholder="Calory">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputFoodIntake" class="col-sm-2 col-form-label">Food Intake :</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputFood" placeholder="Food Intake">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputWaterIntake" class="col-sm-2 col-form-label">Water Intake (Liter) :</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" id="inputWater" placeholder="Water Intake">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputWeek" class="col-sm-2 col-form-label">Week :</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" id="inputWeek" placeholder="Week">
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
      
    </form>
  
  
  
  
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </Body>
